html
    head
        title #{title}
        script(src="//code.jquery.com/jquery-3.2.1.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
        script(src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
        script(src="/public/scripts/mod.js")
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet")
        link(href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet")
        
body
    div(class="row align-items-center justify-content-center ")
        div(class="col-sm-8 form-group-lg")
            table(id="item_db" class="table table-hover")
                thead(class="thead-light")
                    tr
                        td(scope="col") Mod
                        td(scope="col") Mean
                        td(scope="col") STD